* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100vh;
}
.show {
    display: block !important;
}
/* return */
.return {
    position: fixed;
    z-index: 1;
}
.return > a {
    padding: 10px;
    display: block;
    background-color: #313179;
    border-radius: 0;
    border-bottom-right-radius: 100%;
    font-size: 31px;
    height: 75px;
    width: 80px;
    color: #fff;
}
.return > a:hover {
    outline: none;
}
.return > a:active {
    outline: none;
}
.return i {
    transition: .5s;
}
.return i:hover {
    
    transform: rotate(25deg);
}

/* index */
.box {
    width: 100%;
    height: 100vh;
    background-color: #474787;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 20px auto;
}
ul {
    width: 95%;
    height: 100%;
    list-style: none;
    overflow: auto;
}
li {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 0.05px solid #ccc;
}
.panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.panel-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.panel-top a {
    font-size: 20px;
}
.panel-bottom {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-box a {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 0.05px solid #ccc;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #e4e4e4 0%, #f3f3f3 100%);
    transition: 0.5s;
}
.btn-box a:hover {
    background-image: linear-gradient(to right, #cfcfcf 0%, #c4c4c4 100%);
}

/* modal */
.modal {
    position: fixed;
    background-color: #000000cf;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;

}
.modal .close {
    position: absolute;
    top: 0;
    left: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
}
.modal .modal-content {
    width: 90%;
    height: 80%;
    background-color: whitesmoke;
}
.modal ul {
    width: 100%;
}
.modal li {
    height: 60px;
    display: flex;
    flex-direction: column;
}
.modal li a {
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    color: black;
}
.modal li a:hover {
    background-color: rgb(199, 199, 199);
}
.link-red {
    color: brown !important;
}
/* .force-redraw::before { content: "" } */